<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.cqut.dao.CheckProcess.CheckProcessDao">
 
    <insert id="save" parameterType="com.cqut.entity.CheckProcess.CheckProcess">  
     <![CDATA[   
         insert into  checkProcess ( ID, processID, orderNumber, checkName, checkUserID)
         values(#{ID}, #{processID}, #{orderNumber}, #{checkName}, #{checkUserID})	
     ]]>   
    </insert>
  
    
    <!--  mysql -->
    <insert id="saveEntities"> 
	 	 <![CDATA[  
	    	insert into checkProcess ( ID, processID, orderNumber, checkName, checkUserID) VALUES 
	    ]]>  
	    <foreach collection="entities" item="item" index="index" separator=",">   
	         ( #{item.ID}, #{item.processID}, #{item.orderNumber}, #{item.checkName}, #{item.checkUserID})
	    </foreach> 
	</insert> 
	
	
	<update id="updateByID" >
		<![CDATA[  
			update checkProcess set 	
      		processID = #{entity.processID},
      		orderNumber = #{entity.orderNumber},
      		checkName = #{entity.checkName},
      		checkUserID = #{entity.checkUserID}
      	]]>
      	<where>
      		ID = #{id}
      	</where>  		
	</update>
		
		
	<update id="updateByCondition">
		<![CDATA[  
			update checkProcess set 	
      		processID = #{entity.processID},
      		orderNumber = #{entity.orderNumber},
      		checkName = #{entity.checkName},
      		checkUserID = #{entity.checkUserID}
      	]]>
      	<where>
      		<if test="condition != null">
      			${condition}
      		</if>
      	</where>  		
	</update>	
	
	<update id="updatePropByID">
		<![CDATA[  
			update  checkProcess set
		]]>
		<foreach collection="prop" item="item" index="index" separator=",">
          	${item.key} = #{item.value}
        </foreach>
        <where>
        	ID = #{id}
        </where>
	</update>	
	
	<update id="updatePropByCondition">
		<![CDATA[  
			update  checkProcess set
		]]>
		<foreach collection="prop" item="item" index="index" separator=",">
          	${item.key} = #{item.value}
        </foreach>
        <where>
        	<if test="condition != null">
        		${condition}
        	</if>
        </where>
	</update>	
	
   <delete id="deleteByID"  parameterType="string">
		<![CDATA[   
			delete from checkProcess   
		]]>
		<where>
			ID = #{ID}
		</where>
	</delete>	
	
	<delete id="deleteByCondition"  parameterType="string">
		<![CDATA[   
			delete from checkProcess  
		]]>
		<where>
			<if test="condition != null">
				${condition}
			</if>	
		</where>	
	</delete>	
	
	<delete id="deleteEntities"  parameterType="string">
		<![CDATA[   
			delete from checkProcess    
		]]>
		<where>
			 ID in
			 <foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
          		#{item}
        	</foreach>
		</where>	
	</delete>
	
	
	<select id="getByID" resultType="com.cqut.entity.CheckProcess.CheckProcess">
		<![CDATA[   
			select * from checkProcess 
		]]>
		<where>
			ID = #{ID}
		</where>
	</select>
	
	<select id="getByCondition" resultType="com.cqut.entity.CheckProcess.CheckProcess">
		<![CDATA[   
			select * from checkProcess 
		]]>
		<where>
			<if test="condition != null">
		 		${condition}
		 	</if>
		</where>
	</select>
	
	<select id="findByID" resultType="map">
		select 
		<foreach collection="properties" item="item" index="index" separator=",">
          	${item}
        </foreach>
        from checkProcess 
        <where>
        	ID = #{id}
        </where>
	</select>	
	
	
	<select id="findByCondition" resultType="map">
		select 
		<foreach collection="properties" item="item" index="index" separator=",">
          	${item}
        </foreach>
        from checkProcess 
        <where>
        	<if test="condition != null">
        		${condition}
        	</if>
        </where>
	</select>		
	
		
	<select id="getCountByCondition" resultType="int">
		select count(distinct ID) from checkProcess
		<where>
        	<if test="condition != null">
        		${condition}
        	</if>	
        </where>
	</select>	
</mapper>