<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.cqut.dao.Company.CompanyDao">
 
    <insert id="save" parameterType="com.cqut.entity.Company.Company">  
     <![CDATA[   
         insert into  company ( ID, companyName, address, phoneNumber, wechat, createTime, remarks)
         values(#{ID}, #{companyName}, #{address}, #{phoneNumber}, #{wechat}, #{createTime}, #{remarks})	
     ]]>   
    </insert>
  
    
    <!--  mysql -->
    <insert id="saveEntities"> 
	 	 <![CDATA[  
	    	insert into company ( ID, companyName, address, phoneNumber, wechat, createTime, remarks) VALUES 
	    ]]>  
	    <foreach collection="entities" item="item" index="index" separator=",">   
	         ( #{item.ID}, #{item.companyName}, #{item.address}, #{item.phoneNumber}, #{item.wechat}, #{item.createTime}, #{item.remarks})
	    </foreach> 
	</insert> 
	
	
	<update id="updateByID" >
		<![CDATA[  
			update company set 	
      		companyName = #{entity.companyName},
      		address = #{entity.address},
      		phoneNumber = #{entity.phoneNumber},
      		wechat = #{entity.wechat},
      		createTime = #{entity.createTime},
      		remarks = #{entity.remarks}
      	]]>
      	<where>
      		ID = #{id}
      	</where>  		
	</update>
		
		
	<update id="updateByCondition">
		<![CDATA[  
			update company set 	
      		companyName = #{entity.companyName},
      		address = #{entity.address},
      		phoneNumber = #{entity.phoneNumber},
      		wechat = #{entity.wechat},
      		createTime = #{entity.createTime},
      		remarks = #{entity.remarks}
      	]]>
      	<where>
      		<if test="condition != null">
      			${condition}
      		</if>
      	</where>  		
	</update>	
	
	<update id="updatePropByID">
		<![CDATA[  
			update  company set
		]]>
		<foreach collection="prop" item="item" index="index" separator=",">
          	${item.key} = #{item.value}
        </foreach>
        <where>
        	ID = #{id}
        </where>
	</update>	
	
	<update id="updatePropByCondition">
		<![CDATA[  
			update  company set
		]]>
		<foreach collection="prop" item="item" index="index" separator=",">
          	${item.key} = #{item.value}
        </foreach>
        <where>
        	<if test="condition != null">
        		${condition}
        	</if>
        </where>
	</update>	
	
   <delete id="deleteByID"  parameterType="string">
		<![CDATA[   
			delete from company   
		]]>
		<where>
			ID = #{ID}
		</where>
	</delete>	
	
	<delete id="deleteByCondition"  parameterType="string">
		<![CDATA[   
			delete from company  
		]]>
		<where>
			<if test="condition != null">
				${condition}
			</if>	
		</where>	
	</delete>	
	
	<delete id="deleteEntities"  parameterType="string">
		<![CDATA[   
			delete from company    
		]]>
		<where>
			 ID in
			 <foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
          		#{item}
        	</foreach>
		</where>	
	</delete>
	
	
	<select id="getByID" resultType="com.cqut.entity.Company.Company">
		<![CDATA[   
			select * from company 
		]]>
		<where>
			ID = #{ID}
		</where>
	</select>
	
	<select id="getByCondition" resultType="com.cqut.entity.Company.Company">
		<![CDATA[   
			select * from company 
		]]>
		<where>
			<if test="condition != null">
		 		${condition}
		 	</if>
		</where>
	</select>
	
	<select id="findByID" resultType="map">
		select 
		<foreach collection="properties" item="item" index="index" separator=",">
          	${item}
        </foreach>
        from company 
        <where>
        	ID = #{id}
        </where>
	</select>	
	
	
	<select id="findByCondition" resultType="map">
		select 
		<foreach collection="properties" item="item" index="index" separator=",">
          	${item}
        </foreach>
        from company 
        <where>
        	<if test="condition != null">
        		${condition}
        	</if>
        </where>
	</select>		
	
		
	<select id="getCountByCondition" resultType="int">
		select count(distinct ID) from company
		<where>
        	<if test="condition != null">
        		${condition}
        	</if>	
        </where>
	</select>	
</mapper>