<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.cqut.dao.role.RoleDao">
 
    <insert id="save" parameterType="com.cqut.entity.role.Role">  
     <![CDATA[   
         insert into  role ( ID, roleCode, roleName, companyID, createTime, remarks)
         values(#{ID}, #{roleCode}, #{roleName}, #{companyID}, #{createTime}, #{remarks})	
     ]]>   
    </insert>
  
    
    <!--  mysql -->
    <insert id="saveEntities"> 
	 	 <![CDATA[  
	    	insert into role ( ID, roleCode, roleName, companyID, createTime, remarks) VALUES 
	    ]]>  
	    <foreach collection="entities" item="item" index="index" separator=",">   
	         ( #{item.ID}, #{item.roleCode}, #{item.roleName}, #{item.companyID}, #{item.createTime}, #{item.remarks})
	    </foreach> 
	</insert> 
	
	
	<update id="updateByID" >
		<![CDATA[  
			update role set 	
      		roleCode = #{entity.roleCode},
      		roleName = #{entity.roleName},
      		companyID = #{entity.companyID},
      		createTime = #{entity.createTime},
      		remarks = #{entity.remarks}
      	]]>
      	<where>
      		ID = #{id}
      	</where>  		
	</update>
		
		
	<update id="updateByCondition">
		<![CDATA[  
			update role set 	
      		roleCode = #{entity.roleCode},
      		roleName = #{entity.roleName},
      		companyID = #{entity.companyID},
      		createTime = #{entity.createTime},
      		remarks = #{entity.remarks}
      	]]>
      	<where>
      		<if test="condition != null">
      			${condition}
      		</if>
      	</where>  		
	</update>	
	
	<update id="updatePropByID">
		<![CDATA[  
			update  role set
		]]>
		<foreach collection="prop" item="item" index="index" separator=",">
          	${item.key} = #{item.value}
        </foreach>
        <where>
        	ID = #{id}
        </where>
	</update>	
	
	<update id="updatePropByCondition">
		<![CDATA[  
			update  role set
		]]>
		<foreach collection="prop" item="item" index="index" separator=",">
          	${item.key} = #{item.value}
        </foreach>
        <where>
        	<if test="condition != null">
        		${condition}
        	</if>
        </where>
	</update>	
	
   <delete id="deleteByID"  parameterType="string">
		<![CDATA[   
			delete from role   
		]]>
		<where>
			ID = #{ID}
		</where>
	</delete>	
	
	<delete id="deleteByCondition"  parameterType="string">
		<![CDATA[   
			delete from role  
		]]>
		<where>
			<if test="condition != null">
				${condition}
			</if>	
		</where>	
	</delete>	
	
	<delete id="deleteEntities"  parameterType="string">
		<![CDATA[   
			delete from role    
		]]>
		<where>
			 ID in
			 <foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
          		#{item}
        	</foreach>
		</where>	
	</delete>
	
	
	<select id="getByID" resultType="com.cqut.entity.role.Role">
		<![CDATA[   
			select * from role 
		]]>
		<where>
			ID = #{ID}
		</where>
	</select>
	
	<select id="getByCondition" resultType="com.cqut.entity.role.Role">
		<![CDATA[   
			select * from role 
		]]>
		<where>
			<if test="condition != null">
		 		${condition}
		 	</if>
		</where>
	</select>
	
	<select id="findByID" resultType="map">
		select 
		<foreach collection="properties" item="item" index="index" separator=",">
          	${item}
        </foreach>
        from role 
        <where>
        	ID = #{id}
        </where>
	</select>	
	
	
	<select id="findByCondition" resultType="map">
		select 
		<foreach collection="properties" item="item" index="index" separator=",">
          	${item}
        </foreach>
        from role 
        <where>
        	<if test="condition != null">
        		${condition}
        	</if>
        </where>
	</select>		
	
		
	<select id="getCountByCondition" resultType="int">
		select count(distinct ID) from role
		<where>
        	<if test="condition != null">
        		${condition}
        	</if>	
        </where>
	</select>	
</mapper>