<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.cqut.dao.type.TypeDao">
 
    <insert id="save" parameterType="com.cqut.entity.type.Type">  
     <![CDATA[   
         insert into  type ( ID, CODE, NAME, DESCRIPTION, LEVEL, PARENTID, STATE, TYPE)
         values(#{ID}, #{CODE}, #{NAME}, #{DESCRIPTION}, #{LEVEL}, #{PARENTID}, #{STATE}, #{TYPE})	
     ]]>   
    </insert>
  
    
    <!--  mysql -->
    <insert id="saveEntities"> 
	 	 <![CDATA[  
	    	insert into type ( ID, CODE, NAME, DESCRIPTION, LEVEL, PARENTID, STATE, TYPE) VALUES 
	    ]]>  
	    <foreach collection="entities" item="item" index="index" separator=",">   
	         ( #{item.ID}, #{item.CODE}, #{item.NAME}, #{item.DESCRIPTION}, #{item.LEVEL}, #{item.PARENTID}, #{item.STATE}, #{item.TYPE})
	    </foreach> 
	</insert> 
	
	
	<update id="updateByID" >
		<![CDATA[  
			update type set 	
      		CODE = #{entity.CODE},
      		NAME = #{entity.NAME},
      		DESCRIPTION = #{entity.DESCRIPTION},
      		LEVEL = #{entity.LEVEL},
      		PARENTID = #{entity.PARENTID},
      		STATE = #{entity.STATE},
      		TYPE = #{entity.TYPE}
      	]]>
      	<where>
      		ID = #{id}
      	</where>  		
	</update>
		
		
	<update id="updateByCondition">
		<![CDATA[  
			update type set 	
      		CODE = #{entity.CODE},
      		NAME = #{entity.NAME},
      		DESCRIPTION = #{entity.DESCRIPTION},
      		LEVEL = #{entity.LEVEL},
      		PARENTID = #{entity.PARENTID},
      		STATE = #{entity.STATE},
      		TYPE = #{entity.TYPE}
      	]]>
      	<where>
      		<if test="condition != null">
      			${condition}
      		</if>
      	</where>  		
	</update>	
	
	<update id="updatePropByID">
		<![CDATA[  
			update  type set
		]]>
		<foreach collection="prop" item="item" index="index" separator=",">
          	${item.key} = #{item.value}
        </foreach>
        <where>
        	ID = #{id}
        </where>
	</update>	
	
	<update id="updatePropByCondition">
		<![CDATA[  
			update  type set
		]]>
		<foreach collection="prop" item="item" index="index" separator=",">
          	${item.key} = #{item.value}
        </foreach>
        <where>
        	<if test="condition != null">
        		${condition}
        	</if>
        </where>
	</update>	
	
   <delete id="deleteByID"  parameterType="string">
		<![CDATA[   
			delete from type   
		]]>
		<where>
			ID = #{ID}
		</where>
	</delete>	
	
	<delete id="deleteByCondition"  parameterType="string">
		<![CDATA[   
			delete from type  
		]]>
		<where>
			<if test="condition != null">
				${condition}
			</if>	
		</where>	
	</delete>	
	
	<delete id="deleteEntities"  parameterType="string">
		<![CDATA[   
			delete from type    
		]]>
		<where>
			 ID in
			 <foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
          		#{item}
        	</foreach>
		</where>	
	</delete>
	
	
	<select id="getByID" resultType="com.cqut.entity.type.Type">
		<![CDATA[   
			select * from type 
		]]>
		<where>
			ID = #{ID}
		</where>
	</select>
	
	<select id="getByCondition" resultType="com.cqut.entity.type.Type">
		<![CDATA[   
			select * from type 
		]]>
		<where>
			<if test="condition != null">
		 		${condition}
		 	</if>
		</where>
	</select>
	
	<select id="findByID" resultType="map">
		select 
		<foreach collection="properties" item="item" index="index" separator=",">
          	${item}
        </foreach>
        from type 
        <where>
        	ID = #{id}
        </where>
	</select>	
	
	
	<select id="findByCondition" resultType="map">
		select 
		<foreach collection="properties" item="item" index="index" separator=",">
          	${item}
        </foreach>
        from type 
        <where>
        	<if test="condition != null">
        		${condition}
        	</if>
        </where>
	</select>		
	
		
	<select id="getCountByCondition" resultType="int">
		select count(distinct ID) from type
		<where>
        	<if test="condition != null">
        		${condition}
        	</if>	
        </where>
	</select>	
</mapper>